*{
    margin: 0;
    padding: 0;
    user-select: none;
}

.container{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}
.postBlock{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}